@page
@model HomeownersMS.Pages_Admin_Facilities.DeleteModel

@{
    Layout = "_AdminLayout"; // Use the Admin layout
    ViewData["HeaderTitle"] = "Facilities Management";
    ViewData["Title"] = "Delete Facility";
    ViewData["CurrentPage"] = ViewContext.RouteData.Values["page"]?.ToString();
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Facility</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.PricePerHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.PricePerHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.FacilityImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.FacilityImage)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Facility.FacilityId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
