@page
@model HomeownersMS.Pages_Admin_FacilityRequests.IndexModel

@{
    Layout = "_AdminLayout"; // Use the Admin layout
    ViewData["HeaderTitle"] = "Facilities Management";
    ViewData["Title"] = "Facility Requests";
    var username = HttpContext?.User?.Identity?.Name ?? "Guest";
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
    ViewData["Username"] = username;
    ViewData["CurrentPage"] = currentPage;
}

<h1>Facility Requests</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].ReservationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].ReservationTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].RequestCompletionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].Resident)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FacilityRequest[0].Facility)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.FacilityRequest) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestCompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resident.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facility.FacilityId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FacilityRequestId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.FacilityRequestId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FacilityRequestId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
