@page
@model HomeownersMS.Pages.Admin.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Privilege)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].StaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].ResidentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Privilege)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
