@page
@model HomeownersMS.Pages_Admin_Announcements.IndexModel

@{
    Layout = "_AdminLayout"; // Use the Admin layout
    ViewData["HeaderTitle"] = "Announcements Management";
    ViewData["Title"] = "Announcements";
    var username = HttpContext?.User?.Identity?.Name ?? "Guest";
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
    ViewData["Username"] = username;
    ViewData["CurrentPage"] = currentPage;
}

<h1>Announcements</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].BlocksAffected)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].Office)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Announcement[0].Admin)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Announcement) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlocksAffected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.UserId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.AnnouncementId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AnnouncementId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AnnouncementId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
